/**
 * Basic sans-serif styling
 */

:root {
  --ifm-font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --ifm-heading-font-family: var(--ifm-font-family-base);
  --ifm-font-family-monospace: 'Courier New', monospace;

  --ifm-color-primary: #333;
  --ifm-color-primary-dark: #2b2b2b;
  --ifm-color-primary-darker: #262626;
  --ifm-color-primary-darkest: #1a1a1a;
  --ifm-color-primary-light: #4d4d4d;
  --ifm-color-primary-lighter: #666;
  --ifm-color-primary-lightest: #808080;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #e0e0e0;
  --ifm-color-primary-dark: #ccc;
  --ifm-color-primary-darker: #bbb;
  --ifm-color-primary-darkest: #999;
  --ifm-color-primary-light: #f0f0f0;
  --ifm-color-primary-lighter: #f5f5f5;
  --ifm-color-primary-lightest: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

.navbar__logo img {
  border-radius: 8px;
}

.plugin-pages .footer {
  display: none;
}
